<% layout("/layouts/boilerplate.ejs") -%> 
    <!-- <h1>All Listings</h1> -->
    <!-- <form method="get" action="/listings/new">
        <button>Create New Listing</button>
    </form> -->

    
    <button class="navbar-toggler d-lg-none mt-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="btn btn-dark">Show all filters</span>
    </button>

    
    <div class="collapse d-lg-none navbar-collapse" id="navbarNav">
        <div id="filters">

        
        <div class="filter">
            <div><i class="fa-solid fa-fire"></i></div>
            <p>Trending</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-bed"></i></div>
            <p>Rooms</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-city"></i></div>
            <p>Iconic Cities</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-mountain"></i></div>
            <p>Mountains</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-campground"></i></div>
            <p>Camping</p>
        </div>
        <div class="filter">
            <div><i class="fa-brands fa-fort-awesome"></i></div>
            <p>Castles</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-person-swimming"></i></div>
            <p>Amazing Pools</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-tractor"></i></div>
            <p>Farms</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-snowflake"></i></div>
            <p>Arctic</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-water"></i></div>
            <p>Beach</p>
        </div>
        <div class="tax-toggle">
            <div class="form-check-reverse form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
              <label class="form-check-label" for="switchCheckDefault">Display total after taxes</label>
            </div>
        </div>
        <!-- ...end filter content... -->
        </div>
    </div>

    <!-- Filters always visible on large screens -->
    <div class="d-none d-lg-block">
        <div id="filters">
            <div class="filter">
                <div><i class="fa-solid fa-fire"></i></div>
                <p>Trending</p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-bed"></i></div>
                <p>Rooms</p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-city"></i></div>
                <p>Iconic Cities</p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-mountain"></i></div>
                <p>Mountains</p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-campground"></i></div>
                <p>Camping</p>
            </div>
            <div class="filter">
                <div><i class="fa-brands fa-fort-awesome"></i></div>
                <p>Castles</p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-person-swimming"></i></div>
                <p>Amazing Pools</p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-tractor"></i></div>
                <p>Farms</p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-snowflake"></i></div>
                <p>Arctic</p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-water"></i></div>
                <p>Beach</p>
            </div>
            <div class="tax-toggle">
                <div class="form-check-reverse form-switch">
                  <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefaultLg">
                  <label class="form-check-label" for="switchCheckDefaultLg">Display total after taxes</label>
                </div>
            </div>
        </div>
    </div>


    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
        <% for(let listing of allListings) { %>
            <a href="/listings/<%= listing._id %>" class="listing-link">
                <div class="card col listing-card">
                    <img src="<%= listing.image.url %>" class="card-img-top" style="height: 20rem;" alt="listing_image">
                    <div class="card-img-overlay">
                        
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            <b><%= listing.title %><br></b>
                            &#8377; <%= listing.price.toLocaleString("en-IN") %> per night
                            <i class="tax-info"> &nbsp; &nbsp; +18% GST </i>
                        </p>
                    </div>
                </div>
            </a>
        <% } %>
    </div>


