<% layout("/layouts/boilerplate.ejs") -%>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <br><br><br>
            <h3>Create a new list</h3>
            <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" placeholder="Enter title" class="form-control" required>

                    <div class="valid-feedback">Title looks good</div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" placeholder="Enter description" class="form-control" required></textarea>

                    <div class="invalid-feedback">Please enter a valid description</div>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Upload Image</label>
                    <input type="file" name="listing[image]" class="form-control" required>
                </div>

                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input name="listing[price]" placeholder="Enter price" class="form-control" required>            

                        <div class="invalid-feedback">Please enter a valid price</div>
                    </div>

                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="listing[country]" placeholder="Enter country" class="form-control" required>

                        <div class="invalid-feedback">Please enter a valid country</div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" name="listing[location]" placeholder="Enter location" class="form-control" required>

                    <div class="invalid-feedback">Please enter a valid location</div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Categories</label>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="listing[categories][]" value="Trending" id="trending">
                                <label class="form-check-label" for="trending">Trending</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="listing[categories][]" value="Rooms" id="rooms">
                                <label class="form-check-label" for="rooms">Rooms</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="listing[categories][]" value="Iconic Cities" id="iconic-cities">
                                <label class="form-check-label" for="iconic-cities">Iconic Cities</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="listing[categories][]" value="Mountains" id="mountains">
                                <label class="form-check-label" for="mountains">Mountains</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="listing[categories][]" value="Camping" id="camping">
                                <label class="form-check-label" for="camping">Camping</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="listing[categories][]" value="Castles" id="castles">
                                <label class="form-check-label" for="castles">Castles</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="listing[categories][]" value="Amazing Pools" id="amazing-pools">
                                <label class="form-check-label" for="amazing-pools">Amazing Pools</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="listing[categories][]" value="Farms" id="farms">
                                <label class="form-check-label" for="farms">Farms</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="listing[categories][]" value="Arctic" id="arctic">
                                <label class="form-check-label" for="arctic">Arctic</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="listing[categories][]" value="Beach" id="beach">
                                <label class="form-check-label" for="beach">Beach</label>
                            </div>
                        </div>
                    </div>
                </div>

                <button class="btn btn-dark add-btn mt-3">Create</button>
                <br><br>
            </form>
        </div>
    </div> 
</body>