#filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.filter {
    text-align: center;
    margin-right: 2rem;
    margin-top: 1rem;
    opacity: 0.7;
}

.filter:hover {
    cursor: pointer;
    opacity: 1;
}

.filter p {
    font-size: 0.8rem;
}

.tax-info {
    display: none;
}


.tax-toggle {
    border: 1px solid black;
    border-radius: 0.5rem;
    height: 2.5rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
}